.moreView {
  margin: 16px 16px 24px;
  padding: 16px 16px 32px;
  background-color: #ebeeef;
  border-radius: 4px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.heading :first-child {
  font-size: 24px;
  color: #002f34;
}

.heading :last-child {
  font-size: 14px;
  color: #002f34;
}

.recommendations .cards {
  display: flex;
}

.moreView .cards {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.card {
  margin-right: 15px;
  padding: 13px;
  max-width: 222px;
  width: 222px;
  height: 270px;
  display: inline-block;
  cursor: pointer;
}

.card .favorite {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card .image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .image img {
  height: 100px;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  text-align: center;
}
.card .content .rate {
  margin-top: 10px;
  font-size: larger;
  font-weight: bold;
}
.card .content .kilometer {
  font-size: medium;
}
.card .content .name {
  font-size: small;
}
.card .date {
  display: flex;
  justify-content: flex-end;
  font-size: small;
}

.recommendations {
  margin: 16px 16px 24px;
}

.recommendations .heading span {
  font-size: 24px;
  color: #002f34;
}
.cards2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.card {
  /* Your card styles */
  width: calc(14.2857% - 10px); /* Seven cards per row with 10px spacing between */
  margin-bottom: 20px;
  /* Add other styles as needed */
}

/* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
  .card {
    width: calc(20% - 10px); /* Five cards per row with 10px spacing between */
  }
}

@media screen and (max-width: 992px) {
  .card {
    width: calc(25% - 10px); /* Four cards per row with 10px spacing between */
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: calc(33.33% - 10px); /* Three cards per row with 10px spacing between */
  }
}

@media screen and (max-width: 576px) {
  .card {
    width: calc(50% - 10px); /* Two cards per row with 10px spacing between */
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 100%; /* One card per row */
  }
}
